.navi {
  display: flex;
  width: 50%;
  margin: auto;
  text-align: center;
}
ul {
  text-align: center;
  border: 1px solid black;
  list-style: none;
  padding: 1%;
}
a {
  text-decoration: none;
}
span {
  margin: auto;
}
