table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

.start{
    float: left;
}

.end{
    float: right;
}

.dates{
    height: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cells{
    height: 10px;
    display: flex;
    justify-content: space-between;
    
}