
.btn{
    font-size: large;
    background-color: white;
    border: 1px white;
}

.goalDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0000002e;
}

.alertCell{
    background-color:#F4F6FA;
    text-align: left;
}